* {
  margin:0;
  box-sizing: border-box;
}
body {
  background-color: lightgreen;
}
.container {
  width:720px;
  height:720px;
  margin: auto;
  margin-top: 50px;
  display:flex;
  flex-wrap: wrap;
}
.quadratino {
  width:16.66%;
  height:16.66%;
  border:1px solid grey;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: white;
}
